/* *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
} */
h1{
    text-align: center;
    background-color: black;
    color: blanchedalmond;
}
#imgslides{
    width: 100%;
    height: 600px;
    margin: auto;

}
.main{
    width: 80%;
    margin: auto;
}
